/* Game Contents */
.gameGridContainer {
    display: grid;
    grid-template-columns: 10% auto 40%;
    padding: 0;
    margin-top: 30px;
}

.gameGridItem {
    height: 300px;
}

.gameContent {
    position: absolute;
}

#output {
    color: #b9e3c6;
    padding: 10%;
    margin-top: 20%;
    letter-spacing: 1.05px;
}

#gameOutput {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/28/16/45/blackboard-614979_960_720.jpg");
    background-size: 100% 100%;
}

#gameTitle {
    font-size: 1.5em;
    margin: 0;
}

#gameLeftImage {
    background-image: url("https://file.namu.moe/file/8bc9e381797334eb33da66e3ba501be185dcdd0da33f657e698eea93d7de83e0fd3b8bb7d93d5ba02018ebe08b34a4c7a395313980594ddc2f215cc32b2d5b29");
    background-size: 100% 50%;
    margin-right: -25%;
}