/* Color Reference */
/* #db2763 #b0db43 #b9e3c6 #59c9a5 #23395b */

/* General Style */
* {
    font-family: 'Passion One', cursive;
}

body {
    background-color: #b9e3c6;
    margin: 35px 0 0 0;
    padding: 0;

}
h2{
    color:#db2763;
    font-size:2em;
}

p{
    color:#db2763;
}

/* Nav Bar */
.mainNavBar {
    font-family: 'Luckiest Guy', cursive;
    background-color: #23395b;
    color: #59c9a5;    
    width: 100%;
    font-size:2em;
    min-width: 480px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
}

.mainNavContent {
    padding: 20px 100px;
}

#mainNavBarHome {
    float: left;
    outline: none;
    color: #59c9a5;
    text-decoration: none;
    -webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
}

#mainNavBarHome:hover {
    background-color:  #23395b;
    color:#b9e3c6;
}

#mainNavBarUserInfo {
    float: right;
}

/* Main Content */
#mainContent {
    margin: 70px auto;
    width: 80%;
}

.hiddenElement {
    height: 0px;
    z-index: -1;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.75s, opacity 0.75s linear;
}
  
.hiddenElement.visible {
    /* position: static; */
    z-index: auto;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

/* Main menu */
.mainMenuGridContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 100px;
    margin-top: 30px;
}

.mainMenuGridItem {
    background-size: 100%;
    height: 0;
    padding-bottom: 55%;
    overflow: hidden;
    margin: 5px;
    border-radius: 3%;
    -webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
}

.mainMenuGridItem:hover {
    background-size: 105%;
    background-position: 50%;
    height: 0;
    padding-bottom: 55%;
    overflow: hidden;
    margin: 5px;
}

.mainMenuGridContainer button {
    outline: none;
}

.mainMenuGridContainer button span {
    font-size: 1.5em;
    color: #b9e3c6;
    display: inline-block;
    width: 100%;
    letter-spacing: 1.1px;
    text-align: center;
    margin-top: 45%;
    text-shadow: -1px -1px #db2763, 1px -1px #db2763, -1px 1px #db2763, 1px 1px #db2763;
}

#mainMenuComment {
    letter-spacing: 1.3px;
    color: #db2763;
    font-size: 2.5em;
    text-align: center;
    padding-top: 15px;
    display: block;
}

#mainMenuGridItem1 {
    background-image: url("https://images.unsplash.com/photo-1554456854-55a089fd4cb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

#mainMenuGridItem2 {
    background-image: url("https://images.unsplash.com/photo-1525253086316-d0c936c814f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

#mainMenuGridItem3 {
    background-image: url("https://images.unsplash.com/photo-1509559320938-387dfd4e966b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

#mainMenuGridItem4 {
    background-image: url("https://images.unsplash.com/photo-1443806798002-651c462956ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
}

/* Game page templete */

.gameGridContainer {
    display: grid;
    grid-template-columns: 10% 50% 40%;
    padding: 0;
    margin-top: 30px;
}

.gameGridItem {
    height: 300px;
}

#output {
    color: #b9e3c6;
    padding: 10%;
    margin-top: 20%;
    letter-spacing: 1.05px;
}

#gameOutput {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/28/16/45/blackboard-614979_960_720.jpg");
    background-size: 100% 100%;
}

#gameTitle {
    font-size: 1.5em;
    margin: 0;
}

#gameLeftImage {
    background-image: url("https://file.namu.moe/file/8bc9e381797334eb33da66e3ba501be185dcdd0da33f657e698eea93d7de83e0fd3b8bb7d93d5ba02018ebe08b34a4c7a395313980594ddc2f215cc32b2d5b29");
    background-size: 100% 50%;
    margin-right: -25%;
}


/* ----------------------------------------*
*    game 1 -- Kaden                      *
*------------------------------------------*/
.g1InputText {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.g1InputLabel {
    display: inline-block;
    font-size: 1.2em;
}

#g1InputButton {
    width: 30%;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    outline: none;
}

#g1InputForm {
    margin-top: 20px;
    padding: 20px;
}

#output {
    font-size: 1.2em;
    margin-top: 30%;
    line-height: 1.5em;
}


/* ----------------------------------------*
*    / game 1- Kaden                     *
*------------------------------------------*/

/* ----------------------------------------*
*    game 2 -- Igor                     *
*------------------------------------------*/




/* ----------------------------------------*
*    game 2 -- Igor                     *
*------------------------------------------*/

/* ----------------------------------------*
*    game 3 -- Sayumi                     *
*------------------------------------------*/
#game3Content{
    font-size:30px;
    margin:0 auto;
    color:#8a2b4b;
}
.g3_input{
    height:40px;
    width:150px;
    font-size:30px;
    color: #23395b;
    text-align: center;
}
.g3_container{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
}
.g3_items{
    margin:20px;
}
.g3_output{
    text-align: center;
    font-size:4rem;
}
.g3_button {
	-moz-box-shadow: 0px 0px 0px 0px #3e7327;
	-webkit-box-shadow: 0px 0px 0px 0px #3e7327;
	box-shadow: 0px 0px 0px 0px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #23395b), color-stop(1, #db2763));
	background:-moz-linear-gradient(top, #23395b 5%, #db2763 100%);
	background:-webkit-linear-gradient(top, #23395b 5%, #db2763 100%);
	background:-o-linear-gradient(top, #23395b 5%, #db2763 100%);
	background:-ms-linear-gradient(top, #23395b 5%, #db2763 100%);
	background:linear-gradient(to bottom, #23395b 5%, #db2763 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#23395b', endColorstr='#db2763',GradientType=0);
	background-color:#23395b;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#59c9a5;
	font-family:Trebuchet MS;
	font-size:23px;
	font-weight:bold;
	padding:21px 44px;
	text-decoration:none;
}
.g3_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #db2763), color-stop(1, #23395b));
	background:-moz-linear-gradient(top, #db2763 5%, #23395b 100%);
	background:-webkit-linear-gradient(top, #db2763 5%, #23395b 100%);
	background:-o-linear-gradient(top, #db2763 5%, #23395b 100%);
	background:-ms-linear-gradient(top, #db2763 5%, #23395b 100%);
	background:linear-gradient(to bottom, #db2763 5%, #23395b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db2763', endColorstr='#23395b',GradientType=0);
	background-color:#db2763;
}
.g3_button:active {
	position:relative;
	top:1px;
}



/* ----------------------------------------*
*    game 3 -- Sayumi                     *
*------------------------------------------*/
/* ----------------------------------------*
*    game 4 -- Chris & Vlad                *
*------------------------------------------*/




/* ----------------------------------------*
*    game 4 -- Chris & Vlad                *
*------------------------------------------*/
