* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 60px 0 0 0;
    padding: 0;
}

header {
    min-width: 800px;
    background-color: rgba(231, 231, 231, 0.96);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}

.navBtn {
    width: initial;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    margin: 8px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
    outline: none;
}

.mainNavBtn {
    background-color: white; 
    color: #4CAF50; 
    border: 2px solid #4CAF50;
    float: left;
}

.mainNavBtn:hover {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

.toggleNavBtn {
    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
    float: right;
}

.toggleNavBtn:hover {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
}

#navTitle {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    color: rgb(26, 18, 83);
    padding: 0 50px;
    line-height: 50px;
    text-transform: uppercase;
}