pre, code {
    font-family: monospace, monospace;
}

pre {
    overflow: auto;
    position: unset;
}

pre > code {
    display: block;
    padding: 0 1rem;
    word-wrap: normal;
}

figcaption {
    font-size: 1.5em;
    font-weight: bold;
}

figure {
    background-color: lightgray;
    padding: 10px;
}

.preloader {
    width: 0;
    height: 0;
}

pre .preloader div {
    width: 0;
    height: 0;
}